
.header {
  background: #000000;
  padding: 30px;
  color: #ffffff;
  font-weight: bold;
}
.body {
  margin-top: 3px;
}
.add_input{
  border: 2px solid rgb(119, 117, 117);  
  padding: 15px;
  position: relative;
  margin-top: 10px;
}
.render_list {
  margin: auto;
}
.App {
  text-align: center;
}
.add_input-title {
  margin: 0;
  background-color: #ffffff;
  position: absolute;
  top: -10px;
  left: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 100px 0;
}

td {
  padding: 10px 0;
}
