.todo_title {
  background-color: #000000;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
}

.todo_addBox {
  margin: 10px 5px 0 5px;
  border: #000000 solid 1px;
  position: relative;
  padding: 15px ;
  text-align: center;
}
.todo_tag{
  position: absolute;
  background-color: #fff;
  top: -25px;
  left: 25px;
}

.table_list {
  margin: 0 auto;
  table-layout: fixed;
  width: 700px;
}

.table_column{  
  text-align: center;
}